<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Friend Request #<%= @friend_request.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>User id 1</dt>
              <dd><%= @friend_request.user_id_1  %></dd>

              <dt>User id 2</dt>
              <dd><%= @friend_request.user_id_2 %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <%= link_to icon('chevron-left'), friend_requests_path, class: "btn btn-primary" %>

              <%= link_to icon('edit'), edit_friend_request_path(@friend_request), class: "btn btn-warning" %>

              <%= link_to icon('trash-o'), @friend_request, method: :delete, data: { confirm: "Do you really want to delete this friend_request?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
