<ul>
<% @friends.each do |friend| %>

<li><%= friend["name"] %></li>

<%= simple_form_for(@friend_request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id_1, :value => current_user.uid %>
    <%= f.hidden_field :user_id_2, :value => friend["id"]%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

  <% end %>
</ul>

